body {
    font-family: Inter, sans-serif;
    text-align: center;
    background: #111;
    color: white;
}
h1 {
    color: #e63946;
}
a {
    color: #e63946;
    margin: 0 10px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}